In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

### Import Data

In [3]:
crime_df = pd.read_csv('Chicago_Crimes_2012_to_2017.csv')
rest_df = pd.read_csv('Food_Inspections.csv')

### Remove NA

In [4]:
rest_df.isna().sum()

Inspection ID          0
DBA Name               2
AKA Name            2481
License #             17
Facility Type       4913
Risk                  71
Address                0
City                 167
State                 55
Zip                   52
Inspection Date        0
Inspection Type        1
Results                0
Violations         59251
Latitude             756
Longitude            756
Location             756
dtype: int64

In [5]:
rest_df.dropna(inplace=True)
rest_df.head(5)

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
15,2453719,LAS ISLAS MARIAS,LAS ISLAS MARIAS,1095992.0,Restaurant,Risk 1 (High),4770 W GRAND AVE,CHICAGO,IL,60639.0,10/22/2020,Complaint,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.913999,-87.745864,"(-87.74586369218258, 41.91399920930635)"
20,2401734,J. L. LOUNGE,J. L. LOUNGE,2749790.0,Restaurant,Risk 2 (Medium),3402 N CICERO AVE,CHICAGO,IL,60641.0,09/28/2020,License,Fail,2. CITY OF CHICAGO FOOD SERVICE SANITATION CER...,41.942579,-87.747114,"(-87.74711430949259, 41.94257857369689)"
24,2387078,DINNER AND A MOVIE,DINNER AND A MOVIE,2749481.0,Restaurant,Risk 1 (High),2500 N ASHLAND AVE,CHICAGO,IL,60614.0,09/11/2020,License,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.927051,-87.668359,"(-87.66835947589291, 41.92705136177427)"
34,2385566,JOONG BOO MARKET,JOONG BOO MARKET,28024.0,Grocery Store,Risk 1 (High),3333 N KIMBALL AVE,CHICAGO,IL,60618.0,07/30/2020,Complaint,Fail,15. FOOD SEPARATED AND PROTECTED - Comments: O...,41.942154,-87.712446,"(-87.71244601758664, 41.94215358561294)"
42,2382319,McDonald's,McDonald's,1985411.0,Restaurant,Risk 2 (Medium),300 N Wells ST,CHICAGO,IL,60654.0,06/26/2020,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.887556,-87.634118,"(-87.63411765750247, 41.88755591037034)"

In [6]:
crime_df.isna().sum()

Unnamed: 0                  0
ID                          0
Case Number                 1
Date                        0
Block                       0
IUCR                        0
Primary Type                0
Description                 0
Location Description     1658
Arrest                      0
Domestic                    0
Beat                        0
District                    1
Ward                       14
Community Area             40
FBI Code                    0
X Coordinate            37083
Y Coordinate            37083
Year                        0
Updated On                  0
Latitude                37083
Longitude               37083
Location                37083
dtype: int64

In [7]:
crime_df.dropna(inplace=True)

In [8]:
crime_df.drop('Unnamed: 0', axis=1, inplace=True)

### Split restaurant data

In [9]:
rest_df['Inspection Date'] = pd.to_datetime(rest_df['Inspection Date']).dt.strftime('%Y-%m-%d')

In [10]:
rest_df.drop(rest_df[rest_df['Inspection Date'].str.contains('2010') 
| rest_df['Inspection Date'].str.contains('2011')].index, inplace=True)

In [11]:
df_unique = rest_df.drop_duplicates(subset=['Location'])

In [12]:
len(df_unique), len(rest_df)

(14905, 134817)

In [13]:
df_unique = df_unique.reset_index(drop=True)
df_unique = df_unique.reset_index() 
rest_unique = df_unique.rename(columns={'index': 'ID'})

In [14]:
rest_unique

,ID,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,0,2453719,LAS ISLAS MARIAS,LAS ISLAS MARIAS,1095992.0,Restaurant,Risk 1 (High),4770 W GRAND AVE,CHICAGO,IL,60639.0,2020-10-22,Complaint,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.913999,-87.745864,"(-87.74586369218258, 41.91399920930635)"
1,1,2401734,J. L. LOUNGE,J. L. LOUNGE,2749790.0,Restaurant,Risk 2 (Medium),3402 N CICERO AVE,CHICAGO,IL,60641.0,2020-09-28,License,Fail,2. CITY OF CHICAGO FOOD SERVICE SANITATION CER...,41.942579,-87.747114,"(-87.74711430949259, 41.94257857369689)"
2,2,2387078,DINNER AND A MOVIE,DINNER AND A MOVIE,2749481.0,Restaurant,Risk 1 (High),2500 N ASHLAND AVE,CHICAGO,IL,60614.0,2020-09-11,License,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.927051,-87.668359,"(-87.66835947589291, 41.92705136177427)"
3,3,2385566,JOONG BOO MARKET,JOONG BOO MARKET,28024.0,Grocery Store,Risk 1 (High),3333 N KIMBALL AVE,CHICAGO,IL,60618.0,2020-07-30,Complaint,Fail,15. FOOD SEPARATED AND PROTECTED - Comments: O...,41.942154,-87.712446,"(-87.71244601758664, 41.94215358561294)"
4,4,2382319,McDonald's,McDonald's,1985411.0,Restaurant,Risk 2 (Medium),300 N Wells ST,CHICAGO,IL,60654.0,2020-06-26,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.887556,-87.634118,"(-87.63411765750247, 41.88755591037034)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14900,14900,626348,JAYS SNACK,JAYS SNACK,1495613.0,Restaurant,Risk 2 (Medium),3973 W MADISON ST,CHICAGO,IL,60624.0,2012-01-03,Canvass,Pass,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",41.880626,-87.725112,"(-87.72511153875485, 41.880626276535786)"
14901,14901,664373,ALL THE BEST NUTRITION,ALL THE BEST NUTRITION,1221402.0,Grocery Store,Risk 3 (Low),3008 W DEVON AVE,CHICAGO,IL,60659.0,2012-02-03,Canvass,Fail,13. NO EVIDENCE OF RODENT OR INSECT INFESTATIO...,41.997578,-87.704917,"(-87.70491683796463, 41.99757797685146)"
14902,14902,577804,WALGREEN #5724,WALGREEN #5724,1331165.0,Grocery Store,Risk 3 (Low),7045 S PULASKI RD,CHICAGO,IL,60629.0,2012-02-06,Canvass,Pass,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,41.764590,-87.722240,"(-87.7222396042944, 41.764589609122154)"
14903,14903,522010,"LA FINCA, INC.",LA FINCA MEXICAN CUISINE,27437.0,Restaurant,Risk 1 (High),3361 N ELSTON AVE,CHICAGO,IL,60618.0,2012-02-07,Canvass,Pass w/ Conditions,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",41.942659,-87.702854,"(-87.70285405070436, 41.94265870719322)"
14904,14904,659969,OLD TOWN SCHOOL OF FOLK MUSIC,OLD TOWN SCHOOL OF FOLK MUSIC,2098166.0,Liquor,Risk 3 (Low),4543-4551 N LINCOLN AVE,CHICAGO,IL,60625.0,2012-01-12,License,Fail,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",41.964372,-87.685607,"(-87.68560704977685, 41.964372388216674)"

In [15]:
#Combine new index to the original dataframe
rest_df = rest_df.merge(rest_unique[['ID','Address']], on='Address')

### Check crime data

In [16]:
crime_df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [17]:
crime_df['Location Description'].value_counts().count()

140

In [18]:
#Remove non-crime rows
import re

pattern = re.compile(r'NON\s*-\s*CRIMINAL(\s*\(SUBJECT SPECIFIED\))?')

crime_df = crime_df[~crime_df['Primary Type'].str.contains(pattern)]

/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/729232793.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  crime_df = crime_df[~crime_df['Primary Type'].str.contains(pattern)]

In [19]:
location_counts = crime_df['Location Description'].value_counts()
filtered_locations = location_counts[location_counts > 2000].index.tolist()
crime_df = crime_df[crime_df['Location Description'].isin(filtered_locations)]

In [20]:
des = crime_df['Description'].value_counts().head(25).index.tolist()
crime_df = crime_df[crime_df['Description'].isin(des)]

### Construct final data

In [21]:
Restaurant = rest_unique[['ID', 'Latitude','Longitude', 'DBA Name','Address']]
Inspection = rest_df[['ID','Inspection Date','Risk','Inspection Type','Results']]

In [22]:
Restaurant = Restaurant.rename(columns={'DBA Name': 'Name'})
Inspection = Inspection.rename(columns={'Inspection Date': 'Date','Inspection Type':'Type'})

In [23]:
crime_df['Date'] = pd.to_datetime(crime_df['Date']).dt.strftime('%Y-%m-%d')

/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/3779001436.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crime_df['Date'] = pd.to_datetime(crime_df['Date']).dt.strftime('%Y-%m-%d')

In [24]:
Crime = crime_df[['ID','Date','Block','Primary Type','Arrest','Location Description','Description','Latitude','Longitude']]
Crime_rank = crime_df[['Location Description','Arrest','Primary Type']]

In [25]:
Restaurant.columns, Inspection.columns, Crime.columns, Crime_rank.columns

(Index(['ID', 'Latitude', 'Longitude', 'Name', 'Address'], dtype='object'),
 Index(['ID', 'Date', 'Risk', 'Type', 'Results'], dtype='object'),
 Index(['ID', 'Date', 'Block', 'Primary Type', 'Arrest', 'Location Description',
        'Description', 'Latitude', 'Longitude'],
       dtype='object'),
 Index(['Location Description', 'Arrest', 'Primary Type'], dtype='object'))

In [26]:
crime_df['Primary Type'].value_counts()

Primary Type
THEFT                  287059
BATTERY                235903
CRIMINAL DAMAGE        139695
NARCOTICS               91373
ASSAULT                 80885
BURGLARY                75221
MOTOR VEHICLE THEFT     50223
OTHER OFFENSE           48573
ROBBERY                 40362
CRIMINAL TRESPASS       24425
DECEPTIVE PRACTICE      14709
WEAPONS VIOLATION       11910
STALKING                  546
CRIM SEXUAL ASSAULT       392
Name: count, dtype: int64

In [27]:
Crime_rank['Location Description'] = Crime_rank['Location Description'].str.strip()

Crime_rank['Location Description'] = Crime_rank['Location Description'].str.upper()

Crime_rank['Location Description'] = Crime_rank['Location Description'].replace({
    'APT': 'APARTMENT',
    'RES': 'RESIDENCE',
    'STRT': 'STREET',
    'SIDEWLK': 'SIDEWALK'
})

Crime_rank['Location Description'] = Crime_rank['Location Description'].str.replace('/', '')

/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/1564247053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crime_rank['Location Description'] = Crime_rank['Location Description'].str.strip()
/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/1564247053.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crime_rank['Location Description'] = Crime_rank['Location Description'].str.upper()
/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/1564247053.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crime_rank['Location Description'] = Crime_rank['Location Description'].replace({
/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/1564247053.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crime_rank['Location Description'] = Crime_rank['Location Description'].str.replace('/', '')

In [28]:
unique_locations = Crime_rank['Location Description'].unique()

location_risk_scores = {
    'STREET': 8,
    'RESIDENCE': 4,
    'APARTMENT': 5,
    'SIDEWALK': 7,
    'OTHER': 3,
    'PARKING LOTGARAGE(NON.RESID.)': 6,
    'RESIDENTIAL YARD (FRONTBACK)': 4,
    'SMALL RETAIL STORE': 5,
    'ALLEY': 7,
    'RESIDENCE-GARAGE': 3,
    'RESIDENCE PORCHHALLWAY': 5,
    'RESTAURANT': 6,
    'DEPARTMENT STORE': 4,
    'VEHICLE NON-COMMERCIAL': 5,
    'SCHOOL, PUBLIC, BUILDING': 2,
    'GROCERY FOOD STORE': 4,
    'GAS STATION': 6,
    'PARK PROPERTY': 5,
    'BAR OR TAVERN': 9,
    'COMMERCIAL  BUSINESS OFFICE': 3,
    'VACANT LOTLAND': 7,
    'CONVENIENCE STORE': 6,
    'HOTELMOTEL': 6,
    'SCHOOL, PUBLIC, GROUNDS': 3,
    'DRUG STORE': 4,
    'CTA BUS': 7,
    'CTA TRAIN': 7,
    'HOSPITAL BUILDINGGROUNDS': 2,
    'DRIVEWAY - RESIDENTIAL': 4,
    'CHA APARTMENT': 5,
    'ABANDONED BUILDING': 8,
    'CHURCHSYNAGOGUEPLACE OF WORSHIP': 3,
    'CTA PLATFORM': 7,
    'ATHLETIC CLUB': 4,
    'CTA BUS STOP': 7,
    'CHA PARKING LOTGROUNDS': 5,
    'NURSING HOMERETIREMENT HOME': 3,
    'SCHOOL, PRIVATE, BUILDING': 2,
    'TAVERNLIQUOR STORE': 9,
    'GOVERNMENT BUILDINGPROPERTY': 3,
    'CTA GARAGE  OTHER PROPERTY': 6,
    'BANK': 3,
    'TAXICAB': 7,
    'POLICE FACILITYVEH PARKING LOT': 2,
    'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA': 4,
    'ATM (AUTOMATIC TELLER MACHINE)': 6,
    'CURRENCY EXCHANGE': 6
}

# Ensure all unique locations are covered
missing_locations = set(unique_locations) - set(location_risk_scores.keys())
for location in missing_locations:
    # Assign a default risk score for any missing locations (assuming a moderate risk level)
    location_risk_scores[location] = 5

In [29]:
# For 'Arrest' we have only two categories: True and False
arrest_scores = {
    True: 9,
    False: 4
}

# For 'Primary Type' let's first see what unique values we have
unique_primary_types = Crime_rank['Primary Type'].unique()

# Assigning hypothetical risk scores to each primary type
# The actual scoring should be based on detailed crime data
primary_type_scores = {}
for primary_type in unique_primary_types:
    # Assign scores based on perceived severity of the crime
    if primary_type in ['MURDER', 'HOMICIDE']:
        score = 10
    elif primary_type in ['ROBBERY', 'CRIM SEXUAL ASSAULT']:
        score = 9
    elif primary_type in ['ASSAULT', 'BATTERY']:
        score = 8
    elif primary_type in ['WEAPONS VIOLATION', 'BURGLARY']:
        score = 7
    elif primary_type in ['MOTOR VEHICLE THEFT', 'CRIMINAL DAMAGE', 'NARCOTICS']:
        score = 6
    elif primary_type in ['DECEPTIVE PRACTICE', 'CRIMINAL TRESPASS']:
        score = 5
    elif primary_type in ['THEFT', 'OTHER OFFENSE']:
        score = 4
    elif primary_type in ['STALKING']:
        score = 3
    else:
        score = 2  # Default score for less severe or miscellaneous crimes

    primary_type_scores[primary_type] = score

In [30]:
unique_primary_types

array(['BATTERY', 'THEFT', 'WEAPONS VIOLATION', 'MOTOR VEHICLE THEFT',
       'ASSAULT', 'CRIMINAL DAMAGE', 'OTHER OFFENSE',
       'DECEPTIVE PRACTICE', 'ROBBERY', 'CRIMINAL TRESPASS', 'BURGLARY',
       'STALKING', 'NARCOTICS', 'CRIM SEXUAL ASSAULT'], dtype=object)

In [31]:
retain_types = ['MURDER', 'HOMICIDE', 'ROBBERY', 'ASSAULT', 'BATTERY', 'THEFT', 'WEAPONS VIOLATION', 
                'MOTOR VEHICLE THEFT', 'CRIMINAL DAMAGE', 'OTHER OFFENSE', 'DECEPTIVE PRACTICE', 
                'CRIMINAL TRESPASS', 'BURGLARY', 'STALKING', 'NARCOTICS', 'CRIM SEXUAL ASSAULT']
Crime['Primary Type'] = Crime['Primary Type'].apply(lambda x: x if x in retain_types else 'OTHER')

/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/2095811557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crime['Primary Type'] = Crime['Primary Type'].apply(lambda x: x if x in retain_types else 'OTHER')

In [32]:
Crime['Location Description'] = Crime['Location Description'].str.replace('(', '', regex=False)
Crime['Location Description'] = Crime['Location Description'].str.replace(')', '', regex=False)

/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/1838199126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crime['Location Description'] = Crime['Location Description'].str.replace('(', '', regex=False)
/var/folders/12/w2wnyhpd1kz1tlsmlc91sdkr0000gn/T/ipykernel_78738/1838199126.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Crime['Location Description'] = Crime['Location Description'].str.replace(')', '', regex=False)

In [33]:
import itertools

# Generate all possible combinations of the scores
combinations = list(itertools.product(
    location_risk_scores.items(),
    arrest_scores.items(),
    primary_type_scores.items()
))

# Calculate the danger score for each combination
combination_scores = []
for combination in combinations:
    location_score = combination[0][1]
    arrest_score = combination[1][1]
    primary_type_score = combination[2][1]
    danger_score = location_score + arrest_score + primary_type_score
    combination_scores.append({
        'Location Description': combination[0][0],
        'Arrest': combination[1][0],
        'Primary Type': combination[2][0],
        'Danger Score': danger_score
    })

# Create a new dataframe from the combination scores
combination_df = pd.DataFrame(combination_scores)

# Show the structure of the new dataframe
combination_df

     Location Description  Arrest         Primary Type  Danger Score
0                  STREET    True              BATTERY            25
1                  STREET    True                THEFT            21
2                  STREET    True    WEAPONS VIOLATION            24
3                  STREET    True  MOTOR VEHICLE THEFT            23
4                  STREET    True              ASSAULT            25
...                   ...     ...                  ...           ...
1311    CURRENCY EXCHANGE   False    CRIMINAL TRESPASS            15
1312    CURRENCY EXCHANGE   False             BURGLARY            17
1313    CURRENCY EXCHANGE   False             STALKING            13
1314    CURRENCY EXCHANGE   False            NARCOTICS            16
1315    CURRENCY EXCHANGE   False  CRIM SEXUAL ASSAULT            19

[1316 rows x 4 columns]

In [34]:
combination_df['Location Description'] = combination_df['Location Description'].str.replace('(', '', regex=False)
combination_df['Location Description'] = combination_df['Location Description'].str.replace(')', '', regex=False)

In [35]:
Crime['Primary Type'].value_counts().count()

14

In [36]:
Crime = Crime.sample(frac=0.8, random_state=1)

In [37]:
Crime.shape

(881021, 9)

In [38]:
#Restaurant.to_excel('Restaurant.xlsx', index=False)
#Inspection.to_excel('Inspection.xlsx', index=False)
Crime.to_excel('Crime.xlsx', index=False)
combination_df.to_excel('Crime_rank.xlsx', index=False)